version: '3'

services:
  loki:
    image: grafana/loki:2.9.2
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - loki-data:/loki
    networks:
      - loki

#   promtail:
#     image: grafana/promtail:latest
#     volumes:
#       - /var/log:/var/log
#       - /var/lib/docker/containers:/var/lib/docker/containers:ro
#       - ./promtail-config.yaml:/etc/promtail/config.yml:ro
#     command: -config.file=/etc/promtail/config.yml
#     depends_on:
#       - loki

#   grafana:
#     image: grafana/grafana:latest
#     ports:
#       - "3000:3000"
#     depends_on:
#       - loki
#     volumes:
#       - grafana-data:/var/lib/grafana

volumes:
  loki-data:
  grafana-data:

networks:
  loki:
