version: '3'

services:
#   loki:
#     image: grafana/loki:latest
#     ports:
#       - "3100:3100"
#     command: -config.file=/etc/loki/local-config.yaml
#     volumes:
#       - loki-data:/loki

  promtail:
    image: grafana/promtail:2.9.2
    volumes:
      - /var/log:/var/log
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./promtail-config.yml:/etc/promtail/config.yml:ro
    command: -config.file=/etc/promtail/config.yml
    networks: 
      - loki
    # depends_on:
    #   - loki

#   grafana:
#     image: grafana/grafana:latest
#     ports:
#       - "3000:3000"
#     depends_on:
#       - loki
#     volumes:
#       - grafana-data:/var/lib/grafana

volumes:
  loki-data:
  grafana-data:

networks:
  loki:
